.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    text-align: center;
    margin: -8px;
    padding: 0px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid black;
}

.topnav button {
    padding: 10px 100px;
    margin: 0px -4px;
    border: none;
    
    border-left: 3px solid black;
    border-right: 3px solid black;
    color: none;
    background-color: white;
}

.topnav button:hover {
    background-color: rgba(173, 173, 173);
}