.topnav {
    background-color: rgb(36, 37, 38);
    text-align: center;
    position: sticky;
    top: 0;
    border-bottom: 2px solid rgb(57, 58, 59);
    overflow: hidden;
}


.topnav button {
    padding: 10px 100px;
    margin: -3px;
    color: none;
    border: none;
    border-left: 2px solid rgb(57, 58, 59);
    border-right: 2px solid rgb(57, 58, 59);
    background-color: transparent;
}




.topnav button:hover {
    background-color: rgba(173, 173, 173);
}

body {
    background: linear-gradient(to bottom, rgb(24, 25, 26), rgb(57, 58, 59));
    margin: 0;
    height: 100vh;
}

.text {
    font-family: sans-serif;
    color: rgb(228, 230, 235);
    padding: 0px 0px 0px 20px;
    
}

.name {
    position: fixed;
    padding: 15px 0px 0px 10px;
    color: rgb(0, 0, 0);
    margin: 0px;
    font-size: 20px;
}

.name2 {
    position: fixed;
    padding: 12px 0px 0px 10px;
    color: rgb(228, 230, 235);
    margin: 0px;
    font-size: 20px;
}